%structure
  width: 100%
  height: 20em
  -webkit-width : 100%
  -moz-width : 100%
  -o-width: 100%
  -ms-width: 100%
  -webkit-height: 20em
  -moz-height: 20em
  -o-height: 20em
  -ms-height: 20em

.goodorange
  border-bottom: 2px solid $goodorange
  border-bottom-width: medium
  -webkit-border-bottom: 2px solid $goodorange
  -moz-border-bottom: 2px solid $goodorange
  -o-border-bottom: 2px solid $goodorange
  -ms-border-bottom: 2px solid $goodorange
  -webkit-border-bottom-width: medium
  -moz-border-bottom-width: medium
  -o-border-bottom-width: medium
  -ms-border-bottom-width: medium

.goodgreen
  border-bottom: 2px solid $goodgreen
  border-bottom-width: medium
  -webkit-border-bottom: 2px solid $goodgreen
  -moz-border-bottom: 2px solid $goodgreen
  -o-border-bottom: 2px solid $goodgreen
  -ms-border-bottom: 2px solid $goodgreen
  -webkit-border-bottom-width: medium
  -moz-border-bottom-width: medium
  -o-border-bottom-width: medium
  -ms-border-bottom-width: medium

.goodpoint
  border-bottom: 2px solid $goodpoint
  -webkit-border-bottom: 2px solid $goodpoint
  -moz-border-bottom: 2px solid $goodpoint
  -o-border-bottom: 2px solid $goodpoint
  -ms-border-bottom: 2px solid $goodpoint


.goodyellow
  border-bottom: 2px solid $goodyellow
  border-bottom-width: medium
  -webkit-border-bottom: 2px solid $goodyellow
  -moz-border-bottom: 2px solid $goodyellow
  -o-border-bottom: 2px solid $goodyellow
  -ms-border-bottom: 2px solid $goodyellow
  -webkit-border-bottom-width: medium
  -moz-border-bottom-width: medium
  -o-border-bottom-width: medium
  -ms-border-bottom-width: medium
